header.header
    .header__logo.narrow-screen 
        img(src='img/logo_header.png' alt='Cinema logo')
        p.logo-text CinemaGO
    
    //-<nav>
    //-     <div class="hamburger-menu">
    //-       <button id="hamburger-btn" class="hamburger">
    //-         <span class="line"></span>
    //-         <span class="line"></span>
    //-         <span class="line"></span>
    //-       </button>
    //-     </div>
    //-     <ul id="menu" class="menu">
    //-       <li><a href="#">Home</a></li>
    //-       <li><a href="#">About</a></li>
    //-       <li><a href="#">Services</a></li>
    //-       <li><a href="#">Contact</a></li>
    //-     </ul>
    //-</nav>
    nav.nav
        .hamburger-menu 
            button#hamburger-btn.hamburger
                span.hamburger-top-line 
                span.hamburger-mid-line 
                span.hamburger-bot-line 
        .menu__box#menu 
            a.nav__el.menu__item(href='/home') HOME
    .header__logo.wide-screen 
        img(src='img/logo_header.png' alt='Cinema logo')
        p.logo-text CinemaGO
    nav.nav
        //- a.nav__el(href='#') My bookings
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-     span Kacper 
        button.nav__el Log in
        button.nav__el Sign up
