header.header
    .header__logo.narrow-screen 
        img(src='/img/logo_header.png' alt='Cinema logo')
        p.logo-text CinemaGO
    nav.nav
        .hamburger-menu 
            button#hamburger-btn.hamburger
                span.hamburger-top-line 
                span.hamburger-mid-line 
                span.hamburger-bot-line 
        .menu__box#menu 
            a.nav__el.menu__item(href='/home') HOME
    .header__logo.wide-screen 
        img(src='/img/logo_header.png' alt='Cinema logo')
        p.logo-text CinemaGO
    nav.nav
        if user
            a.nav__el#logoutBtn(href='#') Log out
            a.nav__el(href='#')
                span= `Hi, ${user.firstName}` 
        else
            a.nav__el(href='/login') Log in
            a.nav__el(href='/signup') Sign up
