header.header
    nav.nav.nav__home
        a.nav__el(href='#') HOME
    .header__logo 
        img(src='img/logo_header.png' alt='Cinema logo')
        p.logo-text CinemaGO
    nav.nav.nav_user
        //- a.nav__el(href='#') My bookings
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-     span Kacper 
        button.nav__el Log in 
        button.nav__el Sign up