doctype html 
html(lang='en')
    head 
        title Cinema Tickets Booking
        link(rel='stylesheet' href='css/style.css')
        link(rel='apple-touch-icon' sizes='180x180' href='/img/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/img/favicon-16x16.png')
        link(rel='manifest' href='/img/site.webmanifest')
        link(rel='mask-icon' href='/img/safari-pinned-tab.svg' color='#5bbad5')
        link(rel='shortcut icon' href='/img/favicon.ico')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='msapplication-config' content='/img/browserconfig.xml')
        meta(name='theme-color' content='#ffffff')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
    body 
        // HEADER
        header.header
            nav.nav.nav--tours 
                a.nav__el(href='#') HOME
            .header__logo 
                img(src='img/logo-white.png' alt='Cinema logo')
            nav.nav.nav--user 
                //- a.nav__el(href='#') My bookings
                //- a.nav__el(href='#')
                //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
                //-     span Kacper 
                button.nav__el Log in 
                button.nav__el.nav__el--cta Sign up
        h1 This is a cinema tickets booking app
        p This is just some text 
