doctype html 
html 
    head 
        title Cinema Tickets Booking
        //- not working, why???
        link(rel='shortcut icon' type='image/png' href='img/logo.png') 
    body 
        h1 This is a cinema tickets booking app
        p This is just some text 