extends base

block content 
    .container.success-container
        .success-booking-successful
            span.material-symbols-outlined.success-circle check_circle
            span.success-booking-successful-msg Booking successful!
        span.success-thank-you Thank you for your purchase.
        span.success-see-you We'll see you at the movies!
    
