extends base

block content 
    main.main__cinema-list
        .container.cinema-list
            a(href='#') The Lumiere - Manchester
            a(href='#') The Cineplex - London
            a(href='#') The Silver Screen - Newcastle