*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(148 163 184);
  padding: 0rem;
  min-height: 100vh;
  background-color: #0f172a;
}

.header {
  background-color: #0f172abf;
  position: sticky;
  top: 0;
  padding: 0.6rem 0.4rem;
  z-index: 100;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(248,250,252,.06);
  backdrop-filter: blur(8px);
}

.header__logo {
  grid-column: 1 / 3;
  grid-row: 1;
  -ms-flex-item-align: center;
  align-self: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo, .footer__logo {
  display: flex;
  align-items: center;
}
.header__logo img, .footer__logo img {
  height: 3.5rem;
  display: inline;
}
.logo-text {
  display: inline;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  padding: 0 0.2rem;
}

.nav__el,
.nav__el:link,
.nav__el:visited {
  color: rgb(226 232 240);
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.nav__el:hover,
.nav__el:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
}

.nav__el:not(:last-child) {
    margin-right: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(10, 17, 33);
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copyright {
  justify-self: end;
  color: #999;
  /* 00ADB5 0E0F99 0A0A57 */
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.footer__nav li {
  margin-left: 1.5rem;
}

.footer__nav a {
  color: #777;
  text-decoration: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* .footer__logo img {
  height: 6rem;
} */
.footer__logo {
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .header {
    background-color: #0f172abf;
    position: sticky;
    top: 0;
    padding: 0 5rem;
    height: 8rem;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(248,250,252,.06);
    backdrop-filter: blur(8px);
  }
}