.resource-form-box
    p.resource-form-id
    h2.heading-login-form Create a new movie 
    form#resource-form(data-resource=name)
        .form-group
            label.form-label(for='movies-title') Title *
            input#movies-title.form-input(type='text', placeholder='Movie Title', required)
        .form-group
            label.form-label(for='movies-synopsis') Synopsis
            input#movies-synopsis.form-input(type='text', placeholder='A short movie description...')
        .form-group
            label.form-label(for='movies-runtime') Runtime *
            input#movies-runtime.form-input(type='number', placeholder='Runtime in minutes', required)
        .form-group
            label.form-label(for='movies-releaseDate') Release date *
            input#movies-releaseDate.form-input(type='date', required)
        .form-group
            label.form-label(for='movies-director') Director
            input#movies-director.form-input(type='text', placeholder='John Example')
        .form-group
            label.form-label(for='movies-classification') Classification *
            select#movies-classification.form-input(required)
                option(value="") --Please select a rating--
                option(value="U") U - Suitable for all
                option(value="PG") PG - Parental guidance
                option(value="12A") 12A - Cinema release suitable for 12 years and over
                option(value="12") 12 - Video release suitable for 12 years and over
                option(value="15") 15 - Suitable only for 15 years and over
                option(value="18") 18 - Suitable only for adults
                option(value="R18") R18 - Adults works for licensed premises only
        .form-group
            label.form-label(for='movies-cast') Cast *
            input#movies-cast.form-input(type='text', placeholder='Comma separated list of cast member', required)
        .form-group
            label.form-label(for='movies-language') Language *
            input#movies-language.form-input(type='text', placeholder='Original language of the movie', required)
        .form-group
            label.form-label(for='movies-thumbnail') Thumbnail location *
            input#movies-thumbnail.form-input(type='text', placeholder='Location (URL or location on server) of the movie poster (prefered 480x300px)', required)
        .form-group.resource-form-btns
            button.btn-login#resource-form-cancel-btn(type='button') Cancel
            button.btn-login#resource-form-submit-btn(type='submit') Confirm
        .required-info * required fields